<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Food Repository</title>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
<script src="https://cdn.pubnub.com/pubnub-3.15.1.min.js"></script>
<script src="https://cdn.pubnub.com/sdk/pubnub-angular/pubnub-angular-3.2.1.min.js"></script>

</head>
<body>
  <br>
  <div class="alert alert-danger" role="alert">NOTE: Requires Chrome Desktop or Android Browser</div>
      <div class="row">
    <div class="form-group col-sm-4">
        <label for="sel1"><h3>Search Food by:</h3></label>
        <select class="form-control" id="sel1">
          <option value="title">Title</option>
          <option value="type">Type</option>
        </select>
      </div>
      <div class="col-sm-4">
          <br><br>
      
          <input type="text" id="text" placeholder="say something!!" class="form-control " disabled/>
        </div>
        <div class="col-sm-4">
            <br>
          <img src="https://cdn.designbyhumans.com/product_images/p/966932.f56.cbd1eS7ay1Cm2MjUAAA-650x650-b-p.png" style="display: inline-block;" (click)="dictateIt()" title="click to speak" alt="click me!" height="70px" width="70px">
        </div>
      </div>
      <br>
      <br>
      <hr>

      <br>
    
      <div id='content'>
      </div>
</body>
</html>